/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
  --darkColor: #313131;
  --darkColorLight: #555555;
  --lightColor: #9f9f9f;
  --lightColorLight: #c0c0c0;
  --accentColor: #f69908;
  --accentColorLight: #fddaa0;
  --accentColorLightLight: #fff6e7;
  --textDarkColor: black;
  --textLightColor: #f6f6f6;
  --opacity: 90%;
  --baseUnitSize: max(1rem, 1vw);
}
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
.container {
  display: flex;
  width: 100%;
}

body > .container {
  max-width: calc(25 * var(--baseUnitSize));
  margin: auto;
  padding: calc(1 * var(--baseUnitSize));
  flex-flow: row wrap;
  background: black;
  border-radius: calc(1 * var(--baseUnitSize));
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Font */
h1, h2, h3 {
  font-size: calc(2 * var(--baseUnitSize));
}

#topContainer{
  flex-direction: column;
  background: var(--darkColor);
  border-radius: calc(1 * var(--baseUnitSize));
  padding: calc(1 * var(--baseUnitSize));
  margin-bottom: calc(1 * var(--baseUnitSize));
}
#calcSpot {
  width: 100%;
  height: calc(1.5 * var(--baseUnitSize));
  font-size: calc(1.5 * var(--baseUnitSize));
  color: var(--textLightColor);
  text-align: right;
  margin-bottom: calc(1 * var(--baseUnitSize));
}
#answerSpot {
  width: 100%;
  height: calc(3 * var(--baseUnitSize));
  font-size: calc(3 * var(--baseUnitSize));
  color: var(--textLightColor);
  text-align: right;
}

span.super {
  font-size: 75%;
  position:relative;
  top: -5%;
}

span.sub {
  font-size: 75%;
}

/* Buttons */

.btn {
  width: calc(5 * var(--baseUnitSize));
  height: calc(5 * var(--baseUnitSize));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(0.375 * var(--baseUnitSize));
  text-align: center;
  background: gray;
  border-radius: 50%;
}

h1.btn {
 background: var(--accentColor);
 color: var(--textLightColor);
 transition: .5s background-color, 0.25s color;
}

#equal{
  transition: 0s background-color, 0s color;
}

h2.btn {
 background: var(--darkColor);
 color: var(--textLightColor);
}

h3.btn {
  background: var(--lightColor);
  color: var(--textDarkColor);
}

h1.btn.active {
  background-color: var(--accentColorLightLight);
  color: var(--accentColor);
}

/* only for if key is pressed. JS will romove after a few seconds */

h1.btn.keyOn {
  transition: opacity .25s, background-color .1s !important;
  background-color: var(--accentColorLightLight) !important;
  color: var(--accentColor);
  opacity: var(--opacity) !important;
 }
 
 h2.btn.keyOn{
  transition: opacity .25s, background-color .1s !important;
  background-color: var(--lightColor) !important;
  opacity: var(--opacity) !important;
 }
 
 h3.btn.keyOn {
  transition: opacity .25s, background-color .1s !important;
  background-color: var(--textLightColor) !important;
  opacity: var(--opacity) !important;
 }

#zero {
  flex-grow: 2;
  border-radius: calc(10 * var(--baseUnitSize));
}

/* Buttons Hover */

h1.btn:hover {
  opacity: var(--opacity);
 }
 
 h2.btn:hover {
  opacity: var(--opacity);
 }
 
 h3.btn:hover {
  opacity: var(--opacity);
 }

 /* Buttons Active */

 h1.btn:active {
  background: var(--accentColorLight);
  opacity: 100%;
 }
 
 h2.btn:active {
  background: var(--darkColorLight);
  opacity: 100%;
 }
 
 h3.btn:active {
  background: var(--lightColorLight);
  opacity: 100%;
 }
